*, *::before, *::after{
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family:  'Roboto', 'Noto Sans TC', sans-serif;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;

  @include pad {
    max-width: 720px;
  }

  @include phone {
    max-width: 372px;
  }
}