<footer class="footer">
	<div class="footer-container">
		<div class="footer-top">
			<div class="footer-left">
				<ul class="footer-nav-list">
					<li><a class="footer-nav-item" href="index.html">首頁</a></li>
					<li>
						<a class="footer-nav-item" href="product-optical.html">系列鏡框</a>
					</li>
					<li><a class="footer-nav-item" href="location.html">門市據點</a></li>
					<li><a class="footer-nav-item" href="blog.html">部落格</a></li>
					<li><a class="footer-nav-item" href="faq.html">常見問題</a></li>
				</ul>
				<div class="contact-info">
					<div class="info">
						<span class="material-symbols-outlined"> call </span>
						<a href="tel:+0800-000-00">0800-000-00</a>
					</div>
					<div class="info">
						<span class="material-symbols-outlined"> mail </span>
						<a href="mailto:glasses@business.com">glasses@business.com</a>
					</div>
				</div>
			</div>
			<div class="footer-right">
				<ul class="footer-links-icons">
					<li>
						<a class="footer-links-icon" href="#"
							><img src="../assets/images/ic-social-fb.png" alt="fb icon"
						/></a>
					</li>
					<li>
						<a class="footer-links-icon" href="#"
							><img src="../assets/images/ic_social_ig.png" alt="ig icon"
						/></a>
					</li>
					<li>
						<a class="footer-links-icon" href="#"
							><img src="../assets/images/ic_social_line.png" alt="line icon"
						/></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<p>Copyright © 2020 Glasses.All rights reserved.</p>
			<div class="footer-copyright-content">
				<a href="#">
					<p>隱私權政策</p>
				</a>
				<a href="#">
					<p>服務條款</p>
				</a>
			</div>
		</div>
	</div>
</footer>
