<nav class="navbar bg-primary">
	<div class="container navbar-wrap">
		<a href="index.html" class="navbar-logo"
			><img src="./../assets/images/logo-white.png" alt="logo"
		/></a>
		<ul class="navbar-list">
			<li class="navbar-item">
				<a href="product-optical.html" class="navbar-link">系列鏡框</a>
			</li>
			<li class="navbar-item">
				<a href="location.html" class="navbar-link">門市據點</a>
			</li>
			<li class="navbar-item">
				<a href="blog.html" class="navbar-link">部落格</a>
			</li>
			<li class="navbar-item">
				<a href="faq.html" class="navbar-link">常見問題</a>
			</li>
		</ul>
	</div>
</nav>
