.faq-header {
  h2 {
    padding: 0 16px;
    margin-top: 96px;
    margin-bottom: 32px;
    font-weight: bold;
    border-left: 8px solid #9F1213;

    @include phone {
      margin-top: 40px;
      margin-bottom: 24px;
      font-size: 24px;
    }
  }

  h4 {
    font-weight: bold;
    margin-bottom: 24px;
  }

  @include pad {
    margin-top: 80px;
  }

  @include phone {
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.faq-content {
  margin-bottom: 80px;

  @include phone {
    margin-bottom: 64px;
  }

  .qa {
    width: 66%;
    margin-bottom: 32px;

    @include pad {
      width: 100%;
    }

    &-question {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
    }
  }
}

