<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,900;1,900&display=swap"
        rel="stylesheet" />
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Glasses Store</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <header class="location-header container">
      <h2>門市據點</h2>
      <div class="branch-select">
        <label for="branches">選擇分店</label>
        <select name="branches" id="branches">
          <option value="Taipei01">台北中山旗艦店</option>
          <option value="Taipei02">台北綠園店</option>
          <option value="Taichung01">台中清水旗艦店</option>
          <option value="Kaohsiung01">高雄中正形象店</option>
          <option value="Kaohsiung02">高雄夢時代店</option>
        </select>
      </div>
    </header>
    <div class="location-content container">
      <div class="location-card">
        <div class="card-top">
          <img src="../assets/images/storepage-1.png" alt="store">
        </div>
        <div class="card-bottom">
          <h4>台北中山旗艦店</h4>
          <ul class="location-info">
            <li>
              <span class="material-symbols-outlined">call</span>
              <p>電話：<a href="tel:+02000-1234">(02)000-1234</a></p>
            </li>
            <li>
              <span class="material-symbols-outlined">schedule</span>
              <p>營業時間：10:00-21:00</p>
            </li>
            <li>
              <span class="material-symbols-outlined">location_on</span>
              <p>地址：台北市中山區南京東路25巷2-1號</p>
            </li>
          </ul>
        </div>
      </div>
      <img class="google-map" src="../assets/images/google-map-2.png" alt="google map">
    </div>

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>