<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,900;1,900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<title>Glasses Store</title>
	</head>

	<body>
		<%- include('./layout/header'); -%>

		<div class="product-sunglasses-navbar container">
			<ul>
				<li class="col-4"><a href="product-optical.html">OPTICAL</a></li>
				<li class="col-4"><a href="#">SUNGLASSES</a></li>
				<li class="col-4"><a href="#">FUNCTIONAL</a></li>
			</ul>
		</div>
		<header class="product-sunglasses-header mb-80">
			<div class="sunglasses-img-holder-left col-6"></div>
			<div class="sunglasses-img-holder-right col-6"></div>
		</header>
		<div class="product-list-section container mb-80">
			<h2>Celluloid Combi</h2>
			<h3>賽璐珞鈦金屬混合鏡框</h3>
			<div class="product-list-sunglasses mb-80">
				<div class="product-card">
					<a href="#">
						<img src="../assets/images/product-7.png" alt="product-7" />
					</a>
					<div class="product-info">
						<a href="#"><span class="product-name">BJ41600S</span></a>
						<span class="product-price">NTD3,490</span>
					</div>
					<div class="product-colors">
						<a href="#"><span class="brown"></span></a>
						<a href="#"><span class="orange"></span></a>
					</div>
				</div>
				<div class="product-card">
					<a href="#">
						<img src="../assets/images/product-8.png" alt="product-8" />
					</a>
					<div class="product-info">
						<a href="#"><span class="product-name">BJ41600S</span></a>
						<span class="product-price">NTD3,490</span>
					</div>
					<div class="product-colors">
						<a href="#"><span class="brown"></span></a>
						<a href="#"><span class="orange"></span></a>
					</div>
				</div>
				<div class="product-card">
					<a href="#">
						<img src="../assets/images/product-9.png" alt="product-9" />
					</a>
					<div class="product-info">
						<a href="#"><span class="product-name">BJ41600S</span></a>
						<span class="product-price">NTD3,490</span>
					</div>
					<div class="product-colors">
						<a href="#"><span class="brown"></span></a>
						<a href="#"><span class="orange"></span></a>
					</div>
				</div>
				<div class="product-card">
					<a href="#">
						<img src="../assets/images/product-10.png" alt="product-10" />
					</a>
					<div class="product-info">
						<a href="#"><span class="product-name">BJ41600S</span></a>
						<span class="product-price">NTD3,490</span>
					</div>
					<div class="product-colors">
						<a href="#"><span class="brown"></span></a>
						<a href="#"><span class="orange"></span></a>
					</div>
				</div>
				<div class="product-card">
					<a href="#">
						<img src="../assets/images/product-11.png" alt="product-11" />
					</a>
					<div class="product-info">
						<a href="#"><span class="product-name">BJ41600S</span></a>
						<span class="product-price">NTD3,490</span>
					</div>
					<div class="product-colors">
						<a href="#"><span class="brown"></span></a>
						<a href="#"><span class="orange"></span></a>
					</div>
				</div>
				<div class="product-card">
					<a href="#">
						<img src="../assets/images/product-12.png" alt="product-12" />
					</a>
					<div class="product-info">
						<a href="#"><span class="product-name">BJ41600S</span></a>
						<span class="product-price">NTD3,490</span>
					</div>
					<div class="product-colors">
						<a href="#"><span class="brown"></span></a>
						<a href="#"><span class="orange"></span></a>
					</div>
				</div>
			</div>
			<div class="product-list-pagination">
				<ul>
					<li><a href="#">上一頁</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">下一頁</a></li>
				</ul>
			</div>
		</div>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
	</body>
</html>
