<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,900;1,900&display=swap"
        rel="stylesheet" />
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <title>Glasses Store</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="product-navbar container">
      <ul>
        <li class="col-4"><a href="#">OPTICAL</a></li>
        <li class="col-4"><a href="#">SUNGLASSES</a></li>
        <li class="col-4"><a href="#">FUNCTIONAL</a></li>
      </ul>
    </div>
    <header class="product-optical-header mb-80">
      <img class="col-6" src="../assets/images/product-header-1.png" alt="header picture">
      <img class="col-6" src="../assets/images/product-header-2.png" alt="header picture">
    </header>
    <div class="product-list-section container mb-80">
      <h2>Celluloid Combi</h2>
      <h3>賽璐珞鈦金屬混合鏡框</h3>
      <div class="product-list">
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-1.png" alt="product-1">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-2.png" alt="product-2">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-3.png" alt="product-3">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-4.png" alt="product-4">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-5.png" alt="product-5">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-6.png" alt="product-6">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-7.png" alt="product-7">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-8.png" alt="product-8">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-9.png" alt="product-9">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-10.png" alt="product-10">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-11.png" alt="product-11">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
        <div class="product-card col-3">
          <a href="#">
            <img src="../assets/images/product-12.png" alt="product-12">
          </a>
          <div class="product-info">
            <span class="product-name">BJ41600S</span>
            <span class="product-price">NTD3,490</span>
          </div>
          <div class="product-colors">
            <span class="brown"></span>
            <span class="orange"></span>
          </div>
        </div>
      </div>
      <div class="product-list-paginaton"></div>
    </div>


    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>